<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>

    <div class="item right" wicket:enclosure="accountInfoText">
        <i class="user icon"></i>
        <span wicket:id="accountInfoText">[Account]</span>
    </div>

    <div class="ui item dropdown" wicket:id="admin">
        Admin
        <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item" href="/admin/posts/categories">Categories</a>
            <a class="item" href="/admin/posts">Posts</a>
        </div>
    </div>

    <a class="item" wicket:id="signOutLink">
        <i class="sign out alternate icon"></i>
        <wicket:message key="signOut"/>
    </a>

    <a class="item right" wicket:id="login">
        <i class="sign in alternate icon"></i>
        Sign In
    </a>

</wicket:panel>
</body>
</html>
