<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>

    <form class="ui form" wicket:id="editForm">
        <div class="field">
            <input type="text" name="content" class="form-control" wicket:id="inputField"/>
            <textarea name="content" class="form-control" wicket:id="textArea"></textarea>
        </div>

        <button class="ui primary button" type="submit" wicket:id="submit">
            <wicket:message key="save"/>
        </button>
    </form>

</wicket:panel>
</body>
</html>