<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>

    <form wicket:id="loginForm" class="ui form">
        <div wicket:id="username">
            <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" name="username" wicket:id="username">
            </div>
        </div>
        <div wicket:id="password">
            <div class="ui left icon input">
                <i class="key icon"></i>
                <input type="password" name="password" wicket:id="password">
            </div>
        </div>

        <button type="submit" class="ui primary button">
            <wicket:message key="signIn"/>
        </button>
    </form>

</wicket:panel>
</body>
</html>
