<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>

    <form wicket:id="loginForm">
        <div wicket:id="username">
            <input type="text" name="username" class="form-control" wicket:id="username">
        </div>
        <div wicket:id="password">
            <input type="password" name="password" class="form-control" wicket:id="password">
        </div>

        <button type="submit" class="btn btn-success">
            <wicket:message key="signIn"/>
        </button>
    </form>

</wicket:panel>
</body>
</html>
