<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:extend>

    <div wicket:id="title">
        <input type="text" name="title" class="form-control" wicket:id="title"/>
    </div>
    <div wicket:id="content">
        <textarea name="content" class="form-control" wicket:id="content">[content]</textarea>
    </div>
    <div wicket:id="postCategory">
        <select wicket:id="postCategory" class="form-control">
            <option>[postCategory]</option>
        </select>
    </div>

</wicket:extend>
</body>
</html>
