<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>

    <div class="ui list">

        <div class="item" wicket:id="categories">
            <div class="content">
                <a class="header" wicket:id="name"></a>
                <div class="description">
                    <span wicket:id="iconClass"></span>
                    <span wicket:id="contentClass"></span>
                    <span wicket:id="backgroundClass"></span>
                </div>
            </div>
        </div>

    </div>

</wicket:panel>
</body>
</html>
