<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:extend>

    <div wicket:id="name">
        <input type="text" name="name" class="form-control" wicket:id="name"/>
    </div>
    <div wicket:id="iconClass">
        <input type="text" name="iconClass" class="form-control" wicket:id="iconClass"/>
    </div>
    <div wicket:id="contentClass">
        <input type="text" name="contentClass" class="form-control" wicket:id="contentClass"/>
    </div>
    <div c wicket:id="backgroundClass">
        <input type="text" name="backgroundClass" class="form-control" wicket:id="backgroundClass"/>
    </div>

</wicket:extend>
</body>
</html>
