<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>

    <nav class="nav" wicket:id="logoutPanel">

        <div class="nav-link text-white">
            <i class="far fa-user"></i>
            <span wicket:id="accountInfoText">[Account]</span>
        </div>

        <div class="dropdown">
            <a class="nav-link text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false" wicket:id="adminMenuOpener">
                <i class="fas fa-cog"></i>
                <wicket:message key="settings"/>
            </a>
            <div class="dropdown-menu text-white" wicket:id="adminMenu">
                <a class="dropdown-item" href="/admin/posts">Posts</a>
                <a class="dropdown-item" href="/admin/posts/categories">Categories</a>
            </div>
        </div>

        <a class="nav-link text-white" wicket:id="signOutLink">
            <i class="fas fa-sign-out-alt"></i>
            <wicket:message key="signOut"/>
        </a>

    </nav>

    <div wicket:id="loginPanel"></div>

</wicket:panel>
</body>
</html>
