<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>


    <div class="row" wicket:id="categories">
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" wicket:id="name">[Name]</h3>
                </div>
                <div class="panel-body">
                    <span wicket:id="iconClass">[Icon Class]</span>
                    <span wicket:id="contentClass">[Content Class]</span>
                    <span wicket:id="backgroundClass">[Background Class]</span>
                </div>
            </div>

        </div>
    </div>

    <!--
    <div class="paging" wicket:id="paging"></div>
    -->

</wicket:panel>
</body>
</html>
