#wicketDebugBar {
    bottom: 0 !important;
    top: auto !important;
}

body {
    background-color: #FFFFFF;
}

.ui.menu .item img.logo {
    margin-right: 1.5em;
}

.main.container {
    margin-top: 7em;
}

.footer.container {
    margin-top: 2em;
}
